.likes{
  margin-left: 1.5rem;
}
.like-box{
  font-size: 1rem;
  background-color: #EDEDED;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  color: red;
  padding: 10px 10px 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  &:hover{
      background-color: #DEDEDE;
  }
  .fa-heart-o{
    transition: all .35s ease-out;
    position: absolute;
    left: 10px;
  }
  .fa-heart{
    left: 10px;
    transition: all .4s ease-out;
    position: absolute;
    visibility: hidden;
    -webkit-transform: scale(.2);
            transform: scale(.2);
    opacity: 0;
  }
  &[data-exists="yes"]{
    .fa-heart{
      -webkit-transform: scale(1);
              transform: scale(1);
      visibility: visible;
      opacity: 1;
    }
    .fa-heart-o{
      visibility: hidden;
      opacity: 0;
    }
  }
}

.like-count {
  padding-left: 10px;
}
