@import "mixin";
.search, .page-template-default, .blog, .post-template-default, .archive, .single-event, .single{
  margin: 0;
}
// page-id-132 IS PAST EVENTS
// .blog, .single-event, .page-id-132{
//   .blog-main-wrapper{
//     margin: 40px auto;
//     display: flex;
//     flex-wrap: wrap;
//     border: 1px solid red;
//   }
// }


.layoutType{
  @include atMed_Large{
    display: flex;
    &--col-8{
      width: 66.66%;
    }
    &--col-4{
      width: 33.33%;
    }
    &--col-6{
      width: 50%;
    }
  };


}
