@mixin xsOnly {
  @media(max-width: 499px){
    @content;
  }
}
@mixin atSmall {
  @media(min-width: 500px){
    @content;
  }
}
@mixin atMedium {
  @media(min-width: 800px){
    @content;
  }
}
@mixin atMed_Large {
  @media(min-width: 1024px){
    @content;
  }
}
@mixin atLarge {
  @media(min-width: 1028px){
    @content;
  }
}

@mixin atXLarge--small{
  @media(min-width: 1200px){
    @content;
  }
}

@mixin atXLarge {
  @media(min-width: 1500px){
    @content;
  }
}
@mixin atMed_Large--Down {
  @media(max-width: 1023px){
    @content;
  }
}

@mixin clearfix {
  &::after{
    content: "";
    clear: both;
    display: table;
  }
}
