.conti-read--color {
  color: #cf2008; }

.side-paddings {
  padding: 0 30px; }

.side-paddings--double {
  padding: 0 60px; }

.box-shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }

.btn-reset {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .btn-reset:focus {
    outline-width: 0px; }

.small-header-links--fontstyle {
  font-family: 'Cutive', serif;
  font-size: 1.1rem;
  font-weight: 600 !important; }

.metabox {
  background-color: #dff9fb;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07); }
  .metabox p {
    margin: 0 auto; }
  .metabox a {
    color: #a89238;
    font-weight: bold; }
    .metabox a:hover {
      text-decoration: underline; }
  .metabox .metabox__main {
    padding: 10px 15px 10px 11px; }
  .metabox.metabox--with-home-link {
    padding: 0; }

.metabox--relative {
  position: relative;
  padding-top: 40px; }
  .metabox--relative .metabox--position-up {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .metabox--relative .metabox--position-up .metabox__blog-home-link {
      background-color: #117182;
      color: #FFF;
      display: inline-block;
      padding: 10px 15px;
      border-radius: 3px 0 0 3px;
      font-weight: normal; }
      .metabox--relative .metabox--position-up .metabox__blog-home-link:hover {
        text-decoration: none;
        background-color: #0a444e; }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.page-links {
  position: relative;
  z-index: 1;
  background-color: #dff9fb;
  margin: 0 0 40px 0; }
  .page-links .page-links__title {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
    background-color: #117182;
    color: #FFF; }
    .page-links .page-links__title a {
      color: #FFF;
      background-color: #117182; }
  .page-links li {
    border-top: 1px solid #c9e0e2; }
    .page-links li:first-child {
      border-top: none; }
    .page-links li a {
      display: block;
      text-align: center;
      padding: 17px 10px;
      text-decoration: none;
      color: #0D3B66;
      transition: all .3s; }
      .page-links li a:hover {
        color: #0d3357;
        background-color: #d4edee; }

.pagination--styling {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .pagination--styling .page-numbers {
    font-size: 15px;
    font-weight: 500;
    height: 35px;
    line-height: 33px;
    margin-right: 5px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 35px;
    border-radius: 100%;
    overflow: hidden;
    background: #888888;
    color: #fff;
    transition: all 0.3s linear;
    position: relative; }
    .pagination--styling .page-numbers:hover {
      background: #cf2008;
      color: #fff;
      transition: all 0.3s linear; }
    .pagination--styling .page-numbers.current {
      background: #cf2008;
      color: #fff; }
    .pagination--styling .page-numbers.next, .pagination--styling .page-numbers.prev {
      background: #888888;
      color: #888888; }
      .pagination--styling .page-numbers.next:hover, .pagination--styling .page-numbers.prev:hover {
        background: #cf2008;
        color: #cf2008; }
    .pagination--styling .page-numbers.next::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '\f061';
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      border-radius: 100%;
      font-family: "FontAwesome";
      font-size: 0.7rem; }
    .pagination--styling .page-numbers.prev::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '\f060';
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      border-radius: 100%;
      font-family: "FontAwesome";
      font-size: 0.7rem; }

@media (min-width: 767px) {
  .page-links {
    margin: 0 0 40px 20px;
    width: 300px;
    float: right; } }

@media (max-width: 767px) {
  .mobile-page-banner__title--smFont {
    font-size: 1.2rem !important; }
  .mobile-page-banner__intro--smFont {
    font-size: 1rem !important; } }

.conti-read--color {
  color: #cf2008; }

.side-paddings {
  padding: 0 30px; }

.side-paddings--double {
  padding: 0 60px; }

.box-shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }

.btn-reset {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .btn-reset:focus {
    outline-width: 0px; }

.small-header-links--fontstyle {
  font-family: 'Cutive', serif;
  font-size: 1.1rem;
  font-weight: 600 !important; }

.metabox {
  background-color: #dff9fb;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07); }
  .metabox p {
    margin: 0 auto; }
  .metabox a {
    color: #a89238;
    font-weight: bold; }
    .metabox a:hover {
      text-decoration: underline; }
  .metabox .metabox__main {
    padding: 10px 15px 10px 11px; }
  .metabox.metabox--with-home-link {
    padding: 0; }

.metabox--relative {
  position: relative;
  padding-top: 40px; }
  .metabox--relative .metabox--position-up {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .metabox--relative .metabox--position-up .metabox__blog-home-link {
      background-color: #117182;
      color: #FFF;
      display: inline-block;
      padding: 10px 15px;
      border-radius: 3px 0 0 3px;
      font-weight: normal; }
      .metabox--relative .metabox--position-up .metabox__blog-home-link:hover {
        text-decoration: none;
        background-color: #0a444e; }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.page-links {
  position: relative;
  z-index: 1;
  background-color: #dff9fb;
  margin: 0 0 40px 0; }
  .page-links .page-links__title {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
    background-color: #117182;
    color: #FFF; }
    .page-links .page-links__title a {
      color: #FFF;
      background-color: #117182; }
  .page-links li {
    border-top: 1px solid #c9e0e2; }
    .page-links li:first-child {
      border-top: none; }
    .page-links li a {
      display: block;
      text-align: center;
      padding: 17px 10px;
      text-decoration: none;
      color: #0D3B66;
      transition: all .3s; }
      .page-links li a:hover {
        color: #0d3357;
        background-color: #d4edee; }

.pagination--styling {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .pagination--styling .page-numbers {
    font-size: 15px;
    font-weight: 500;
    height: 35px;
    line-height: 33px;
    margin-right: 5px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 35px;
    border-radius: 100%;
    overflow: hidden;
    background: #888888;
    color: #fff;
    transition: all 0.3s linear;
    position: relative; }
    .pagination--styling .page-numbers:hover {
      background: #cf2008;
      color: #fff;
      transition: all 0.3s linear; }
    .pagination--styling .page-numbers.current {
      background: #cf2008;
      color: #fff; }
    .pagination--styling .page-numbers.next, .pagination--styling .page-numbers.prev {
      background: #888888;
      color: #888888; }
      .pagination--styling .page-numbers.next:hover, .pagination--styling .page-numbers.prev:hover {
        background: #cf2008;
        color: #cf2008; }
    .pagination--styling .page-numbers.next::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '\f061';
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      border-radius: 100%;
      font-family: "FontAwesome";
      font-size: 0.7rem; }
    .pagination--styling .page-numbers.prev::after {
      position: absolute;
      top: 0;
      left: 0;
      content: '\f060';
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      border-radius: 100%;
      font-family: "FontAwesome";
      font-size: 0.7rem; }

@media (min-width: 767px) {
  .page-links {
    margin: 0 0 40px 20px;
    width: 300px;
    float: right; } }

@media (max-width: 767px) {
  .mobile-page-banner__title--smFont {
    font-size: 1.2rem !important; }
  .mobile-page-banner__intro--smFont {
    font-size: 1rem !important; } }

.page-banner {
  background-color: transparent;
  padding: 0px 0 40px 0;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  height: 50vh; }
  .page-banner::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .page-banner .page-banner__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    object-position: center; }
  .page-banner .page-banner__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%; }
    .page-banner .page-banner__content .page-banner__title {
      font-size: 2.5rem;
      color: #ffffff;
      margin-bottom: 10px;
      text-align: center; }
    .page-banner .page-banner__content .page-banner__intro {
      color: #ffffff;
      font-size: 1.5rem;
      margin: 0 auto; }
      .page-banner .page-banner__content .page-banner__intro p {
        color: #ffffff;
        font-size: 1.5rem;
        margin: 0 auto; }

.page-section {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem; }
  .page-section:nth-of-type(odd) {
    background: #dff9fb; }

@media (min-width: 767px) {
  .page-banner {
    min-height: 400px;
    height: 70vh; } }

.archive .blog-main-wrapper {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap; }
  .archive .blog-main-wrapper .blog-section {
    display: flex;
    flex-wrap: wrap; }

@media (min-width: 1160px) {
  .archive .blog-section {
    width: 70%; }
  .archive .blog-right-navigation {
    width: 30%; } }
