.banner__overlay {
  position: relative; }
  .banner__overlay:before {
    position: absolute;
    top: 0;
    content: " ";
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4); }

.overlay--texts {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: 1;
  transform: translateX(-20%);
  color: black; }

.banner_slider--main figure {
  margin-bottom: 0;
  min-height: 500px; }
  .banner_slider--main figure img {
    width: 100%;
    min-height: 500px;
    height: 70vh;
    object-fit: cover;
    object-position: center; }

.banner_slider--main .overlay--texts h1 {
  margin-bottom: 0%;
  font-size: 2.57rem;
  font-weight: 500;
  line-height: 40px; }

.banner_slider--main .overlay--texts p {
  font-weight: 500;
  font-size: 1.21rem;
  line-height: 18px; }

.banner_slider--main .slick-dots {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px; }
  .banner_slider--main .slick-dots li {
    list-style-type: none;
    margin: 0 5px; }
    .banner_slider--main .slick-dots li.slick-active button {
      border: 1px solid white; }
    .banner_slider--main .slick-dots li button {
      width: 5px;
      height: 2px;
      overflow: hidden;
      background: #FF6600;
      cursor: pointer;
      border: none; }
