@media (max-width: 370px) {
  .nav-main-wrapper .nav-brand-wrapper .brand-link .brand-img {
    width: 70%;
    height: auto;
    height: 40px !important;
    max-height: 80px;
    object-fit: cover;
    object-position: center; }
  .nav-main-wrapper .mobile-nav-btn {
    transform: scale(0.7) !important; }
  .blog-page-wrapper .blog-main-wrapper.side-paddings {
    padding: 0; } }

@media (max-width: 767px) {
  .nav-main-wrapper .nav-brand-wrapper .brand-link .brand-img {
    width: 70%;
    height: auto;
    height: 40px !important;
    max-height: 80px;
    object-fit: cover;
    object-position: center; }
  .nav-main-wrapper .mobile-nav-btn {
    transform: scale(0.7) !important; }
  .blog-page-wrapper .blog-main-wrapper.side-paddings {
    padding: 0; } }
