.site-header__util .login__style .general-btn {
  padding: 2px 20px 2px 0px; }

.site-header__util .login__style .btn--with-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0; }
  .site-header__util .login__style .btn--with-photo .site-header__avatar {
    margin-right: 15px;
    height: 30px; }

#login h1 a {
  background-image: url("././img/vedLogo.png");
  margin-bottom: 0;
  background-size: cover;
  background-position: center;
  height: 80px;
  width: 150px; }
