@import "base/mixin";
@import "assets";

.blog-card{
  border: 1px solid red;
  @include atSmall{
    &__post-item{
      display: flex;
      .blog-card__date{

      }
    }

  };
  @include atMedium{
    &__post-item{
      .blog-card__date{

      }
    }
  };
  @include atLarge{
    &__post-item{
      .blog-card__date{

      }
    }
  };
  &__date-thumbnail{
    position: relative;
    .blog-card__date{
      position: absolute;
      color:#fff;
      background: $color_five;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      padding: 5px;
    }
    .blog-card__thumbnail{
      display: inline-block;
      border: 5px solid red;
      width: 100%;
      min-height: 200px;
      max-height: 300px;
      overflow: hidden;

    }
    .blog-card__image{
      width: 100%
      width: 200px;
      height: 300px;
      object-fit: cover;
      object-position: center;
    }
  }
  &__details{

  }
}
