@import "assets";
@import "base/mixin";
.category-list-wrapper{
  display: block;
  background: #f9f9f9;
  padding: 10px 40px;
  .category-list-items{
    &>li{
      list-style-type: none;
      font-weight: bolder;
      text-transform: uppercase;
      padding-bottom: 20px;
      &>a{
        font-weight: 600;
        color: $color_one;
        &:hover{
          color: $reddish--color;
        }
      }
      ul.children{
        padding-left: 20px;
        li{
          a{
            color:$text--color;
            font-weight: 400;
            &:hover{
              color: $reddish--color;
            }
          }
        }


      }
    }
    li.cat-item{
      border-bottom: 1px dotted hsl(0, 0%, 80%);
      margin: 10px auto;
    }
  }

  h2{
    color:  $color_one;
  }

}
