@import "page";
@import "assets";
// Blog contents and thumbnails
.blog-content{
  color: $text--color;
}

.blog{
  .blog-main-wrapper{
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
  }
}


.blog-right-navigation{
  width: 100%;
  .blog-right-navigation--wrapper{

    margin: 20px auto;
    width: 100%;
    background: #f9f9f9;
    .blog-boxes{
      margin: 0 auto 20px auto;

    }
  }
}

// thumbnails fixture

.single-post{
    .wp-block-image{
      figure{
        img{
            box-shadow:$gentle-box-shadow;
        }
      }
      figcaption{
        text-align: center;
        color: $text--color;
        font-weight: bold;
      }
    }
}
//-------------------------------------------------------

// 1280 mac displat
@media (min-width: 1160px) {
  // Blog contents and thumbnails
  .blog{
      .blog-section{
        width: 70%;
      }
      .blog-right-navigation{
        width: 30%;
      }
    }
}
@media (min-width: 768px){
  .single-post{
      .wp-block-image{
        figure{
          overflow: hidden;
          margin: 0 0 0 20px;
          padding: 0;
        }
      }
  }
  .blog{
      .blog-section{
        width: 70%;
      }
      .blog-right-navigation{
        width: 30%;

      }
      .blog-card{
        width: 90%;
        margin: 10px 15px 0 15px;
        .blog-card__post-item{
          display: flex;
          .blog-card__date-thumbnail{
            width: 200px;
            height: 200px;
            overflow: hidden;
            z-index: 1;
            .blog-card__date{
              width: 100%;
              height: 30px;
            }
            .blog-card__thumbnail{
              width: 100%;
              height: 100%;
              img{
                width: 100%;
                height: 100%;
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: center;

              }
            }
          }
          .blog-card__details{
            flex: 1;
            .blog-card__title-auth-contents{
              padding-left: 15px;
              .blog-card__title{
                font-size: 1.3rem;
                font-weight: bold;

              }
              .blog-card__auth{
                font-size: 0.8rem;
                margin-bottom: 10px;
              }
              .blog-card__contents{
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
}
@media (max-width: 767px) {
  .single-post{
      .wp-block-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        figure{
          margin: 0;
        }
      }
  }
}

@media (max-width: 1159px) {
  .blog-right-navigation{
    &.side-paddings{
      padding-left: 0;
      padding-right: 0;
    }
  }
}
