@media (max-width:370px) {
  // nav Menu
  .nav-main-wrapper{
    &.side-paddings{
      padding: 0;
    }
    .nav-brand-wrapper{
      .brand-link{
        .brand-img{
          width: 70%;
          height: auto;
          height: 40px!important;
          max-height: 80px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .nav-items-wrapper{
      padding: 0 1rem;
      .nav-items{
        padding-top: 1em!important;
        .nav-item{

          }
          .nav-link{


        }
      }
    }
    .mobile-nav-btn{
      transform: scale(0.7)!important;
    }
  }
  // blog page
  .blog-page-wrapper{
    .blog-main-wrapper.side-paddings{
      padding: 0;
    }
  }
}
@media (max-width:767px) {
  // nav Menu
  .nav-main-wrapper{
    .nav-brand-wrapper{
      .brand-link{
        .brand-img{
          width: 70%;
          height: auto;
          height: 40px!important;
          max-height: 80px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .nav-items-wrapper{
      .nav-items{

        .nav-item{

          }
          .nav-link{


        }
      }
    }
    .mobile-nav-btn{
      transform: scale(0.7)!important;
    }
  }
  // blog page
  .blog-page-wrapper{
    .blog-main-wrapper.side-paddings{
      padding: 0;
    }
  }
}
