@import "assets";
$page-banner__title--color:#ffffff;
$page-banner__intro--color:$page-banner__title--color;
.page-banner{
  background-color: transparent;
  padding: 0px 0 40px 0;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  height: 50vh;
  &::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
  }
  .page-banner__bg-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    object-position: center;

  }
  .page-banner__content{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    .page-banner__title{
      font-size: 2.5rem;
      color: $page-banner__title--color;
      margin-bottom: 10px;
    }
    .page-banner__intro{
      color: $page-banner__intro--color;
      font-size: 1.5rem;
      margin: 0 auto;
      p{
        color: $page-banner__intro--color;
        font-size: 1.5rem;
        margin: 0 auto;
      }
    }

  }
}
.page-section{
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  &:nth-of-type(odd) {
    background: $color_four;
  }
}
@media (min-width: 767px) {
  .page-banner{
    min-height: 400px;
    height: 70vh;
  }
}
