$text--color: #888888;
.blog-searchbox{
  .search-box__wrapper{
    &.glossy__wrapper{
      border-radius: 0;
      width: 100%;
      &:hover{
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
        background: #2FB7EC ;
        transition: all 0.3s ease;
        .btn-to-anchor{
          color: #fff;
        }

      }
    }
  }

}
