@import "assets";
@import "base/mixin";
.search-overlay__bottom{
  background: rgba(255,255,255,0.8);
  height: 100%;
  overflow: auto;
  #search-overlay__results{
    height: 100%;
    transition: all 0.2s linear;
    overflow: auto;
    .search-overlay__results-contents{
      height: 80%;
      transition: all 0.2s linear;
      overflow: auto;
      @include atXLarge--small{
        display: flex;
        flex-wrap: wrap;

      };
      .one-third{
        min-width: 300px;
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-grow: 1;
        width: 100%;



      }
    }
  }

}

#searchbox__input{
  @include xsOnly{
    font-size: 1rem;
  };
}
.overlay__top{
  @include xsOnly{
    font-size: 1rem;
    padding: 10px 5px;
  };
}
