* {
  box-sizing: border-box; }

.page-template-default, .blog {
  margin: 0; }

:root {
  font-size: 16px;
  font-family: 'Raleway', sans-serif; }
  :root * {
    line-height: 1.5; }
  :root ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  :root img {
    max-width: 100%;
    height: auto; }
  :root h1, :root h2, :root h3, :root h4, :root h5, :root h6 {
    font-family: 'Cutive', serif; }
  :root a {
    text-decoration: none; }

.main-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh; }

.conti-read--color {
  color: #cf2008; }

.side-paddings {
  padding: 0 30px; }

.side-paddings--double {
  padding: 0 60px; }

.box-shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }

.btn-reset {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .btn-reset:focus {
    outline-width: 0px; }

.small-header-links--fontstyle, .nav-link {
  font-family: 'Cutive', serif;
  font-size: 1.1rem;
  font-weight: 600 !important; }

.metabox {
  background-color: #dff9fb;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07); }
  .metabox p {
    margin: 0 auto; }
  .metabox a {
    color: #a89238;
    font-weight: bold; }
    .metabox a:hover {
      text-decoration: underline; }
  .metabox .metabox__main {
    padding: 10px 15px 10px 11px; }
  .metabox.metabox--with-home-link {
    padding: 0; }

.metabox--relative {
  position: relative;
  padding-top: 40px; }
  .metabox--relative .metabox--position-up {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .metabox--relative .metabox--position-up .metabox__blog-home-link {
      background-color: #117182;
      color: #FFF;
      display: inline-block;
      padding: 10px 15px;
      border-radius: 3px 0 0 3px;
      font-weight: normal; }
      .metabox--relative .metabox--position-up .metabox__blog-home-link:hover {
        text-decoration: none;
        background-color: #0a444e; }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.page-links {
  position: relative;
  z-index: 1;
  background-color: #dff9fb;
  margin: 0 0 40px 0; }
  .page-links .page-links__title {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
    background-color: #117182;
    color: #FFF; }
    .page-links .page-links__title a {
      color: #FFF;
      background-color: #117182; }
  .page-links li {
    border-top: 1px solid #c9e0e2; }
    .page-links li:first-child {
      border-top: none; }
    .page-links li a {
      display: block;
      text-align: center;
      padding: 17px 10px;
      text-decoration: none;
      color: #0D3B66;
      transition: all .3s; }
      .page-links li a:hover {
        color: #0d3357;
        background-color: #d4edee; }

@media (min-width: 767px) {
  .page-links {
    margin: 0 0 40px 20px;
    width: 300px;
    float: right; } }

.icon-bar:nth-child(1) {
  background: #42afc2; }

.icon-bar:nth-child(2), .icon-bar:nth-child(3) {
  background: #455a5c; }

.icon-bar:nth-child(4) {
  background: #117182; }

.nav-padding {
  padding: 0 15px; }

.main-wrapper header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }

.nav-main-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #dff9fb;
  transition: all 0.5s ease; }
  .nav-main-wrapper * {
    font-family: 'Cutive', serif; }
  .nav-main-wrapper .nav-brand-wrapper .brand-link {
    display: flex;
    align-items: center; }
    .nav-main-wrapper .nav-brand-wrapper .brand-link .brand-img {
      width: 100%;
      height: auto;
      min-height: 60px;
      max-height: 80px;
      object-fit: cover;
      object-position: center; }
  .nav-main-wrapper .nav-items-wrapper .nav-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; }
    .nav-main-wrapper .nav-items-wrapper .nav-items .nav-item {
      padding: 5px 8px; }
      .nav-main-wrapper .nav-items-wrapper .nav-items .nav-item:not(:last-child) {
        margin-right: 10px; }
      .nav-main-wrapper .nav-items-wrapper .nav-items .nav-item .nav-link {
        text-decoration: none;
        color: #455a5c;
        font-weight: 500;
        transition: all 0.5s ease; }

@media (min-width: 769px) {
  /* HOVER EFFECT - Overline From Left */
  .hvr-overline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden; }
  .hvr-overline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    top: 0;
    background: #2098d1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
    right: 0; }
  .on-scroll-nav--change.nav-main-wrapper {
    background: transparent;
    transition: all 0.5s ease; }
    .on-scroll-nav--change.nav-main-wrapper .nav-items-wrapper .nav-link {
      color: #ffffff !important;
      transition: all 0.5s ease; }
  .nav-main-wrapper {
    align-items: center; }
    .nav-main-wrapper .nav-brand-wrapper .mobile-nav-btn {
      display: none; }
    .nav-main-wrapper .nav-items-wrapper .nav-item .nav-link {
      font-size: 1.1rem; } }

@media (max-width: 768px) {
  /* HOVER OR ACTIVE EFFECTSweep To Right */
  .hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  .hvr-sweep-to-right:hover .nav-link, .hvr-sweep-to-right:focus .nav-link, .hvr-sweep-to-right:active .nav-link {
    color: white !important; }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .nav-main-wrapper {
    display: flex;
    flex-direction: column; }
    .nav-main-wrapper .nav-brand-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .nav-main-wrapper .nav-brand-wrapper .mobile-nav-btn {
        width: 40px;
        height: 45px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer; }
        .nav-main-wrapper .nav-brand-wrapper .mobile-nav-btn .icon-bar {
          display: block;
          position: absolute;
          height: 5px;
          width: 65%;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out; }
          .nav-main-wrapper .nav-brand-wrapper .mobile-nav-btn .icon-bar:nth-child(1) {
            top: 5px; }
          .nav-main-wrapper .nav-brand-wrapper .mobile-nav-btn .icon-bar:nth-child(2) {
            top: 18px; }
          .nav-main-wrapper .nav-brand-wrapper .mobile-nav-btn .icon-bar:nth-child(3) {
            top: 18px; }
          .nav-main-wrapper .nav-brand-wrapper .mobile-nav-btn .icon-bar:nth-child(4) {
            top: 30px; }
        .nav-main-wrapper .nav-brand-wrapper .mobile-nav-btn.x:focus {
          border: none !important; }
        .nav-main-wrapper .nav-brand-wrapper .mobile-nav-btn.x .icon-bar:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%; }
        .nav-main-wrapper .nav-brand-wrapper .mobile-nav-btn.x .icon-bar:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        .nav-main-wrapper .nav-brand-wrapper .mobile-nav-btn.x .icon-bar:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .nav-main-wrapper .nav-brand-wrapper .mobile-nav-btn.x .icon-bar:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%; }
    .nav-main-wrapper .nav-items-wrapper .nav-items {
      display: flex;
      flex-direction: column;
      -webkit-animation: slide-down .3s ease-out;
      -moz-animation: slide-down .3s ease-out; }
      .nav-main-wrapper .nav-items-wrapper .nav-items .nav-item:not(:last-child) {
        margin-right: 0px; }
      .nav-main-wrapper .nav-items-wrapper .nav-items .nav-item .nav-link {
        display: flex;
        font-size: 1.1rem; }
    .nav-main-wrapper .nav-items-wrapper .nav-close {
      display: none !important; }
  @-webkit-keyframes slide-down {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-10%); }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0); } }
  @-moz-keyframes slide-down {
    0% {
      opacity: 0;
      -moz-transform: translateY(-10%); }
    100% {
      opacity: 1;
      -moz-transform: translateY(0); } } }

.conti-read--color {
  color: #cf2008; }

.side-paddings {
  padding: 0 30px; }

.side-paddings--double {
  padding: 0 60px; }

.box-shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }

.btn-reset {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .btn-reset:focus {
    outline-width: 0px; }

.small-header-links--fontstyle, .nav-link {
  font-family: 'Cutive', serif;
  font-size: 1.1rem;
  font-weight: 600 !important; }

.metabox {
  background-color: #dff9fb;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07); }
  .metabox p {
    margin: 0 auto; }
  .metabox a {
    color: #a89238;
    font-weight: bold; }
    .metabox a:hover {
      text-decoration: underline; }
  .metabox .metabox__main {
    padding: 10px 15px 10px 11px; }
  .metabox.metabox--with-home-link {
    padding: 0; }

.metabox--relative {
  position: relative;
  padding-top: 40px; }
  .metabox--relative .metabox--position-up {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .metabox--relative .metabox--position-up .metabox__blog-home-link {
      background-color: #117182;
      color: #FFF;
      display: inline-block;
      padding: 10px 15px;
      border-radius: 3px 0 0 3px;
      font-weight: normal; }
      .metabox--relative .metabox--position-up .metabox__blog-home-link:hover {
        text-decoration: none;
        background-color: #0a444e; }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.page-links {
  position: relative;
  z-index: 1;
  background-color: #dff9fb;
  margin: 0 0 40px 0; }
  .page-links .page-links__title {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
    background-color: #117182;
    color: #FFF; }
    .page-links .page-links__title a {
      color: #FFF;
      background-color: #117182; }
  .page-links li {
    border-top: 1px solid #c9e0e2; }
    .page-links li:first-child {
      border-top: none; }
    .page-links li a {
      display: block;
      text-align: center;
      padding: 17px 10px;
      text-decoration: none;
      color: #0D3B66;
      transition: all .3s; }
      .page-links li a:hover {
        color: #0d3357;
        background-color: #d4edee; }

@media (min-width: 767px) {
  .page-links {
    margin: 0 0 40px 20px;
    width: 300px;
    float: right; } }

#main-footer {
  background: #95afc0; }

.site-footer {
  padding: 2rem 0 3.5rem 0; }
  .site-footer .site-footer-one {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

.social-wrapper nav ul {
  display: flex;
  justify-content: space-between; }

.banner__overlay {
  position: relative; }
  .banner__overlay:before {
    position: absolute;
    top: 0;
    content: " ";
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4); }

.overlay--texts {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: 1;
  transform: translateX(-20%);
  color: black; }

.banner_slider--main figure {
  margin-bottom: 0;
  min-height: 500px; }
  .banner_slider--main figure img {
    width: 100%;
    min-height: 500px;
    height: 70vh;
    object-fit: cover;
    object-position: center; }

.banner_slider--main .overlay--texts h1 {
  margin-bottom: 0%;
  font-size: 2.57rem;
  font-weight: 500;
  line-height: 40px; }

.banner_slider--main .overlay--texts p {
  font-weight: 500;
  font-size: 1.21rem;
  line-height: 18px; }

.banner_slider--main .slick-dots {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px; }
  .banner_slider--main .slick-dots li {
    list-style-type: none;
    margin: 0 5px; }
    .banner_slider--main .slick-dots li.slick-active button {
      border: 1px solid white; }
    .banner_slider--main .slick-dots li button {
      width: 5px;
      height: 2px;
      overflow: hidden;
      background: #FF6600;
      cursor: pointer;
      border: none; }

.conti-read--color {
  color: #cf2008; }

.side-paddings {
  padding: 0 30px; }

.side-paddings--double {
  padding: 0 60px; }

.box-shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }

.btn-reset {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .btn-reset:focus {
    outline-width: 0px; }

.small-header-links--fontstyle, .nav-link {
  font-family: 'Cutive', serif;
  font-size: 1.1rem;
  font-weight: 600 !important; }

.metabox {
  background-color: #dff9fb;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07); }
  .metabox p {
    margin: 0 auto; }
  .metabox a {
    color: #a89238;
    font-weight: bold; }
    .metabox a:hover {
      text-decoration: underline; }
  .metabox .metabox__main {
    padding: 10px 15px 10px 11px; }
  .metabox.metabox--with-home-link {
    padding: 0; }

.metabox--relative {
  position: relative;
  padding-top: 40px; }
  .metabox--relative .metabox--position-up {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .metabox--relative .metabox--position-up .metabox__blog-home-link {
      background-color: #117182;
      color: #FFF;
      display: inline-block;
      padding: 10px 15px;
      border-radius: 3px 0 0 3px;
      font-weight: normal; }
      .metabox--relative .metabox--position-up .metabox__blog-home-link:hover {
        text-decoration: none;
        background-color: #0a444e; }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.page-links {
  position: relative;
  z-index: 1;
  background-color: #dff9fb;
  margin: 0 0 40px 0; }
  .page-links .page-links__title {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
    background-color: #117182;
    color: #FFF; }
    .page-links .page-links__title a {
      color: #FFF;
      background-color: #117182; }
  .page-links li {
    border-top: 1px solid #c9e0e2; }
    .page-links li:first-child {
      border-top: none; }
    .page-links li a {
      display: block;
      text-align: center;
      padding: 17px 10px;
      text-decoration: none;
      color: #0D3B66;
      transition: all .3s; }
      .page-links li a:hover {
        color: #0d3357;
        background-color: #d4edee; }

@media (min-width: 767px) {
  .page-links {
    margin: 0 0 40px 20px;
    width: 300px;
    float: right; } }

.page-banner {
  background-color: transparent;
  padding: 0px 0 40px 0;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  height: 50vh; }
  .page-banner::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .page-banner .page-banner__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    object-position: center; }
  .page-banner .page-banner__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%; }
    .page-banner .page-banner__content .page-banner__title {
      font-size: 2.5rem;
      color: #ffffff;
      margin-bottom: 10px; }
    .page-banner .page-banner__content .page-banner__intro {
      color: #ffffff;
      font-size: 1.5rem;
      margin: 0 auto; }
      .page-banner .page-banner__content .page-banner__intro p {
        color: #ffffff;
        font-size: 1.5rem;
        margin: 0 auto; }

.page-section {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem; }
  .page-section:nth-of-type(odd) {
    background: #dff9fb; }

@media (min-width: 767px) {
  .page-banner {
    min-height: 400px;
    height: 70vh; } }

.conti-read--color {
  color: #cf2008; }

.side-paddings {
  padding: 0 30px; }

.side-paddings--double {
  padding: 0 60px; }

.box-shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }

.btn-reset {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .btn-reset:focus {
    outline-width: 0px; }

.small-header-links--fontstyle, .nav-link {
  font-family: 'Cutive', serif;
  font-size: 1.1rem;
  font-weight: 600 !important; }

.metabox {
  background-color: #dff9fb;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07); }
  .metabox p {
    margin: 0 auto; }
  .metabox a {
    color: #a89238;
    font-weight: bold; }
    .metabox a:hover {
      text-decoration: underline; }
  .metabox .metabox__main {
    padding: 10px 15px 10px 11px; }
  .metabox.metabox--with-home-link {
    padding: 0; }

.metabox--relative {
  position: relative;
  padding-top: 40px; }
  .metabox--relative .metabox--position-up {
    position: absolute;
    top: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    .metabox--relative .metabox--position-up .metabox__blog-home-link {
      background-color: #117182;
      color: #FFF;
      display: inline-block;
      padding: 10px 15px;
      border-radius: 3px 0 0 3px;
      font-weight: normal; }
      .metabox--relative .metabox--position-up .metabox__blog-home-link:hover {
        text-decoration: none;
        background-color: #0a444e; }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.page-links {
  position: relative;
  z-index: 1;
  background-color: #dff9fb;
  margin: 0 0 40px 0; }
  .page-links .page-links__title {
    margin: 0;
    font-weight: normal;
    text-align: center;
    padding: 20px 0;
    background-color: #117182;
    color: #FFF; }
    .page-links .page-links__title a {
      color: #FFF;
      background-color: #117182; }
  .page-links li {
    border-top: 1px solid #c9e0e2; }
    .page-links li:first-child {
      border-top: none; }
    .page-links li a {
      display: block;
      text-align: center;
      padding: 17px 10px;
      text-decoration: none;
      color: #0D3B66;
      transition: all .3s; }
      .page-links li a:hover {
        color: #0d3357;
        background-color: #d4edee; }

@media (min-width: 767px) {
  .page-links {
    margin: 0 0 40px 20px;
    width: 300px;
    float: right; } }

.page-banner {
  background-color: transparent;
  padding: 0px 0 40px 0;
  position: relative;
  overflow: hidden;
  min-height: 400px;
  height: 50vh; }
  .page-banner::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1; }
  .page-banner .page-banner__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    object-position: center; }
  .page-banner .page-banner__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%; }
    .page-banner .page-banner__content .page-banner__title {
      font-size: 2.5rem;
      color: #ffffff;
      margin-bottom: 10px; }
    .page-banner .page-banner__content .page-banner__intro {
      color: #ffffff;
      font-size: 1.5rem;
      margin: 0 auto; }
      .page-banner .page-banner__content .page-banner__intro p {
        color: #ffffff;
        font-size: 1.5rem;
        margin: 0 auto; }

.page-section {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem; }
  .page-section:nth-of-type(odd) {
    background: #dff9fb; }

@media (min-width: 767px) {
  .page-banner {
    min-height: 400px;
    height: 70vh; } }

.blog-content {
  color: #888888; }

.blog-card {
  margin: 20px auto;
  overflow: hidden; }
  .blog-card .post-item {
    display: flex; }
    .blog-card .post-item .blog-date-feature-thumbnail--wrapper {
      position: relative; }
      .blog-card .post-item .blog-date-feature-thumbnail--wrapper:hover img, .blog-card .post-item .blog-date-feature-thumbnail--wrapper:active img {
        transform: scale(1.5);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .blog-card .post-item .blog-date-feature-thumbnail--wrapper:hover .blog-date, .blog-card .post-item .blog-date-feature-thumbnail--wrapper:active .blog-date {
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .blog-card .post-item .blog-date-feature-thumbnail--wrapper .blog-date {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        background: #74b9ff;
        text-transform: uppercase; }
      .blog-card .post-item .blog-date-feature-thumbnail--wrapper .blog-feature-thumbnail {
        overflow: hidden; }
        .blog-card .post-item .blog-date-feature-thumbnail--wrapper .blog-feature-thumbnail img {
          height: 100%;
          width: auto;
          object-fit: cover;
          object-position: center;
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .blog-card .post-item .blog-title-auth-content-wrapper {
      padding: 20px; }
      .blog-card .post-item .blog-title-auth-content-wrapper .blog-title {
        margin-bottom: 10px; }
        .blog-card .post-item .blog-title-auth-content-wrapper .blog-title .blog-title--fontstyle {
          text-transform: capitalize;
          font-size: 1.3rem;
          font-family: 'Cutive', serif;
          color: #42afc2; }
          .blog-card .post-item .blog-title-auth-content-wrapper .blog-title .blog-title--fontstyle:hover, .blog-card .post-item .blog-title-auth-content-wrapper .blog-title .blog-title--fontstyle:active {
            color: #455a5c; }
      .blog-card .post-item .blog-title-auth-content-wrapper .blog-auth {
        font-family: 'Cutive', serif;
        font-size: 1rem;
        margin-bottom: 10px; }
        .blog-card .post-item .blog-title-auth-content-wrapper .blog-auth a {
          color: #878787;
          font-weight: 400; }
          .blog-card .post-item .blog-title-auth-content-wrapper .blog-auth a:hover, .blog-card .post-item .blog-title-auth-content-wrapper .blog-auth a:active {
            color: #cf2008; }
      .blog-card .post-item .blog-title-auth-content-wrapper .blog-content a:hover i {
        margin-left: 10px;
        transition: 0.1s linear; }
      .blog-card .post-item .blog-title-auth-content-wrapper .blog-content a i {
        margin-left: 5px;
        transition: 0.1s linear; }

.blog .blog-main-wrapper {
  margin: 40px auto; }
  .blog .blog-main-wrapper .blog-section {
    display: flex;
    flex-wrap: wrap; }

@media (min-width: 769px) {
  .blog-card {
    width: 100%;
    height: 300px; }
    .blog-card .post-item .blog-date-feature-thumbnail--wrapper .blog-feature-thumbnail {
      width: 300px;
      height: 300px; }
    .blog-card .post-item .blog-details-wrapper {
      padding: 20px; } }

@media (min-width: 1025px) {
  .blog-card {
    width: 65%; } }

@media (max-width: 768px) {
  .blog-card {
    width: 100%;
    height: auto; }
    .blog-card .post-item {
      flex-wrap: wrap; }
      .blog-card .post-item .blog-date-feature-thumbnail--wrapper {
        min-width: 300px; } }

/* (1024x768) iPad 1 & 2, Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .blog-card {
    width: 100%;
    height: 100%; }
    .blog-card .post-item .blog-date-feature-thumbnail--wrapper {
      width: 100%;
      height: 100%; }
      .blog-card .post-item .blog-date-feature-thumbnail--wrapper .blog-feature-thumbnail {
        width: 100%; }
        .blog-card .post-item .blog-date-feature-thumbnail--wrapper .blog-feature-thumbnail img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); } }

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .blog-section .blog-details-wrapper .blog-title--fontstyle {
    font-size: 1rem !important; }
  .blog-section .blog-details-wrapper .blog-auth {
    font-family: 'Cutive', serif;
    font-size: 0.9rem; } }
